*{
    padding: 0;
    margin: 0;
}
section{
    margin: 0 145px;
    border-bottom: 2px solid #f48149;
}
h2{
    font-size: 36px;
    font-weight: 700;
    color: #393939;
}
h5{
    font-size: 23px;
    font-weight: 700;
    color: #393939;
}
h3{
    font-size: 27px;
    font-weight: 700;
    color: #393939;
}
h6{
    font-size: 18px;
    font-weight: 400;
    color: #393939;
}
a{
    color: #3b5eff;
    text-decoration: underline;
}
a:hover{
    color: #f48149;
}
span{
    font-weight: 700;
}
.primary-button{
    border: 2px solid #ff5a0a;
    padding: 13px 40px;
    border-radius: 50px;
    font-size: 19px;
    transition: .2s;
}
.primary-button:hover{
    background-color: #ff5a0a;
    color: white;
}


/* Navbar Section Start */
.menu li{
    font-size: 21px;
    padding: 20px 25px;
    cursor: pointer;
}
.menu li:hover{
    background-color: #b8b8b8;
}
.menu li a{
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: 600;
}
.navbar-section{
    border-bottom: 5px solid #ff813f;
}

/* Navbar Section End */



/* Header section start */
.header-right{
    transform: rotate(3deg);
    transform-origin: top;
    transition: all .5s ease;
}
.header-right:hover{
    transform: rotate(0deg);
}
.header-right img{
    width: 200px;
    height: 250px;
    border-radius: 6px;
    padding: 0 15px;
    background-color:lightgrey;
    padding-top: 20px;
    padding-bottom: 40px;
    box-shadow: 5px 5px 20px gray;
    margin-left: 15%;
}
.circle-clip {
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    margin-left: 40%;
}
.logo{
    transition: .3s;
}
.logo:hover{
    transform: rotate(35deg, 90deg);
    cursor: pointer;
}
/* Header section End */


/* Activity Section Start */
.activity-card{
    background-color: #e0e0e0;
    padding: 15px 50px;
    border: .5px solid gray;
    border-radius: 12px;
    font-size: 17px;
}
/* Activity Section End */


/* Top Project Section Start */
.top-project-card{
    border: 1px solid gray;
}
/* Top Project Section End */


/* Contact Section Start */
input{
    width: 100%;
    background-color: #eeeeee;
    padding: 8px 8px;
    border-radius: 3px;
    border-bottom: 2px solid #747474;
    margin-top: 10px;
}
.contact-form textarea{
    width: 100%;
    background-color: #eeeeee;
    padding: 8px 8px;
    border-radius: 3px;
    border-bottom: 2px solid #747474;
    margin-top: 10px;
}
/* Contact Section End */



/* Footer Section Start */
.buy-coffee{
    background-color: #ff813f;
    padding: 15px 10px;
    border-radius: 8px;
    cursor: pointer;
}
.coffee-icon{
    transition: .3s;
}
.buy-coffee:hover .coffee-icon{
    transform: rotate(-20deg);
}
.social-icon a{
    margin: 0 15px;
    font-size: 36px;
    color: #747474;
    cursor: pointer;
    text-decoration: none;
}
.icon{  
    transition: .3s;
}
.social-icon a:hover .icon{
    transform: rotate(-25deg);
    color: #ff813f;
}
/* Footer Section End */